<form>
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input 
      type="text" 
      class="form-control" 
      id="nameInput" 
      placeholder="John Doe" 
      [(ngModel)]="customerName"
      name="customerName">
    <label for="phoneInput">Phone Number</label>
    <input 
      type="phone" 
      class="form-control" 
      id="phoneInput" 
      placeholder="xxxxxxxxxxx"
      [(ngModel)]="phoneNumber"
      name="phoneNumber">
    <label for="addressInput">Delivery to</label>
    <input 
      type="address" 
      class="form-control" 
      id="addressInput" 
      placeholder="xx, Street, Ward, District"
      [(ngModel)]="deliveryTo"
      name="deliveryTo">
  </div>
</form>
<app-ordered-list
  *ngIf="selectedList.length !== 0"
  [selectedList]="selectedList"
  ></app-ordered-list>

<p *ngIf="selectedList.length == 0">Please select pizza!</p>

<!-- Display the aggregated total amount -->
<button
  (click)="submitOrder()">Order Now - Total Amount: {{ finalAmount | currency }}</button>