
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form>
        <div class="form-group border rounded p-3">
          <label for="nameInput">Name</label>
          <input 
            type="text" 
            class="form-control" 
            id="nameInput" 
            placeholder="John Doe" 
            [(ngModel)]="customerName"
            name="customerName">
          <label for="phoneInput">Phone Number</label>
          <input 
            type="phone" 
            class="form-control" 
            id="phoneInput" 
            placeholder="xxxxxxxxxxx"
            [(ngModel)]="phoneNumber"
            name="phoneNumber">
          <label for="addressInput">Delivery to</label>
          <input 
            type="address" 
            class="form-control" 
            id="addressInput" 
            placeholder="xx, Street, Ward, District"
            [(ngModel)]="deliveryTo"
            name="deliveryTo">
        </div>
      </form>
    </div>
  </div>
</div>


<app-ordered-list
  *ngIf="selectedList.length !== 0"
  [selectedList]="selectedList"
  ></app-ordered-list>

<div class="d-flex justify-content-center">
  <div>
    <p *ngIf="selectedList.length == 0">Please select pizza!</p>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div>
    <button class="btn btn-danger" (click)="submitOrder()">
      Order Now - Total Amount: {{ finalAmount | currency }}</button>
  </div>
</div>