<!-- TEAM MEMBER 1 - START -->
<div class="team-member">
  <div class="overlay-wrapper2">
    <img src="{{ product?.images[0] }}" class="img-responsive" alt="{{ product?.name }}-image">
  </div>
  <h4>{{ product?.price }}</h4>
  <span>{{ product?.name }}</span>
  <p>{{ product?.description }}</p>
  
  <div class="quantity-control">
    <button 
      class="btn btn-secondary" 
      (click)="decrementQuantity()"
      [disabled]="quantity === 0"><i class="fa fa-minus"
      ></i></button>
    <span>{{ quantity }}</span>
    <button 
      class="btn btn-primary" 
      (click)="incrementQuantity()"><i class="fa fa-plus"></i></button>
  </div>

    <a
      (click)="onAddToSelectedList()"
      class="btn btn-primary tooltips"
      data-placement="top"
      data-original-title="Add"><i class="fa fa-check"></i> </a>
    <a
      (click)="onRemoveFromSelectedList()"
      class="btn btn-secondary tooltips"
      data-placement="top"
      data-original-title="Remove"><i class="fa fa-times"></i></a>
</div>
<!-- TEAM MEMBER 1 - END -->